.banner-height {
  min-height: 70dvh;
  height: 70dvh;
}

@media (min-width: 31.25rem) {
  .banner-height {
    min-height: clamp(37.5rem, 50dvh, 50rem);
    height: clamp(37.5rem, 50dvh, 50rem);
  }
}

@media (min-width: 81.25rem) {
  .banner-height {
    min-height: clamp(56.25rem, 40dvh, 68.75rem);
    height: clamp(56.25rem, 40dvh, 68.75rem);
  }
} 